

:root{
  --bg-color:#faf1e6;
  --card-color :#fdfaf6;
  --head-color: #B7A3E3;
  --text-color :#e4efe7;
  --hp: #FF5959;
  --attack: #F5AC78;
  --defense: #FAE078;
  --special-attack: #9DB7F5;
  --special-defense: #A7DB8D;
  --speed: #FA92B2;
}

*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

body{
  width: 100vw;
  min-height: 100vh;
  background: var(--bg-color);
  font-family: Arial, sans-serif;
}

#head{
  font-size: 50px;
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
}

#search{
  display: block;
  height: 40px;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  border: 3px solid red;
  outline: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 23px;
  margin-bottom: 20px;
  transition: all .2s;
}
#search:focus{
  border: 3px solid blue;
}

#cards{
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}

.card{
  width: 250px;
  max-height: 350px;
  border-radius: 10px;
  padding: 10px;
  background: var(--card-color);
  transition: all .3s;
  cursor: pointer;
}
.card:hover{
  transform: translateY(-10px);
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

.image{
  display: block;
  width: 90%;
  max-height: 200px;
  margin:10px auto 0 auto;
}
.card .name{
  font-size: 35px;
  text-align: center;
  color: var(--head-color);
  font-weight: 800;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.type{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}
.type p{
  font-size: 25px;
  font-weight: 600;
  padding: 3px 15px 5px 15px ;
  margin: 0 10px;
  margin-bottom: 5px;
  border-radius: 50px;
  color: var(--text-color);
  text-transform: capitalize;
}

#display{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
}
#exit{
  font-size: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: red;
  cursor: pointer;
}
#container{
  width: 720px;
  height: 370px;
  display: flex;
  padding: 10px;
}

.input-details{
  width: 450px;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background: var(--card-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-details .single-detaild{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.single-detaild .symbol{
  font-size: 30px;
  margin-top: 7px;
}
.single-detaild .outsite{
  flex: 1;
  margin: 0 20px;
  height: 25px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 50px;
}
.single-detaild .insite{
  height: 100%;
  border-radius: 50px;
}

#error{
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: red;
  position: fixed;
  inset: 0px;
  top: 200px;
}

#loading{
  width: 100%;
  height: 110vh;
  top: -10px;
  background: black;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading video{
  width: 100%;
  height: 80%;
  position: fixed;
  z-index: 11;
}

@media screen and (max-width:750px) {
  #container{
    width: 350px;
    height: 700px;
    flex-direction: column;
    justify-content: center;
  }
  .input-details{
    width: 350px;
    height: 350px;
  }
  .card{
    margin: auto;
  }
  
}
